@page "/"
@inject HttpClient Http
@using BlazorApp
@using KDLib
@using KDLib.GameObjectModel
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<div @onkeydown="OnKeyDown" @onkeyup="OnKeyUp" tabindex="0" style="outline:none;">
    <SKGLView OnPaintSurface="OnPaintSurface" 
              EnableRenderLoop="true" 
              style="width: 1280px; height: 720px;" />
</div>

@code {
    private GameWorld? _gameWorld;
    private readonly BlazorInputState _inputState = new();
    private DateTime? _lastTime;
    private bool _isLoaded = false;
    private const double MAX_DELTA_TIME = 1.0 / 15.0;

    protected override async Task OnInitializedAsync()
    {
        KDEngine.Input = _inputState;
        
        var manager = new SkiaAssetManager();

        await manager.PreWarmAsync(Http, ["Assets/DinoSprites.png"]);
        
        KDEngine.AssetManager = manager;
        _gameWorld = new GameWorld(1280, 720, "KYLib Blazor");
        
        GameScene.Load(_gameWorld); 
        
        _lastTime = DateTime.Now;
        _isLoaded = true;
    }

    void OnPaintSurface(SKPaintGLSurfaceEventArgs e)
    {
        if (!_isLoaded || _gameWorld == null || !_lastTime.HasValue) return;

        var now = DateTime.Now;
        double dt = (now - _lastTime.Value).TotalSeconds;
        _lastTime = now;
        
        _gameWorld.Update(Math.Min(dt, MAX_DELTA_TIME));
        
        var skiaCanvas = new SkiaCanvas(e.Surface.Canvas);
        e.Surface.Canvas.Clear(SKColors.DimGray);
        _gameWorld.Draw(skiaCanvas);
    }
    private void OnKeyDown(KeyboardEventArgs e) => _inputState.SetKeyState(e.Code, true);
    private void OnKeyUp(KeyboardEventArgs e) => _inputState.SetKeyState(e.Code, false);
}